@font-face {
    font-family: 'MyFont';
    src: url('./LovelyHome.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont2';
    src: url('./TheWestGate.ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
  color: white;
  font-family: 'MyFont2';
  background: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 600px;
}
